*DS_Store

# Ignore package metadata
*.egg-info/

# Ignore build directories
build/
dist/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore R files
.Rhistory
*/*.Rproj.user
*/*.Rbuildignore

# Readme images
readme_images.svg

# Testing files
testing*
custom_segmentation_pipeline/*
tests/

# Atlas info folder template files
atlas_info/original_space/tpl-*

# While testing interactive jupyter
interactive_online.ipynb
create_R_package.R
test_R_package.R

# Ignore meshes folders
subcortexVisualizationR/inst/extdata/data/*/meshes/*
subcortex_visualization/data/*/meshes/*