*DS_Store

# Ignore package metadata
*.egg-info/

# Ignore build directories
build/
dist/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Readme images
readme_images.svg

# Testing files
testing*
custom_segmentation_pipeline/*

# Atlas info folder
atlas_info/raw_volumes